In [1]:
# بسم الله الرحمن الرحيم
#(وما توفيقى الا بالله)

# Re-run this cell
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
crimes = pd.read_csv(r"C:\Users\moham\Downloads\workspace\workspace\crimes.csv", dtype={"TIME OCC": str})
crimes.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LOCATION
0,220314085,2022-07-22,2020-05-12,1110,Southwest,THEFT OF IDENTITY,27,F,B,NaN,Invest Cont,2500 S SYCAMORE AV
1,222013040,2022-08-06,2020-06-04,1620,Olympic,THEFT OF IDENTITY,60,M,H,NaN,Invest Cont,3300 SAN MARINO ST
2,220614831,2022-08-18,2020-08-17,1200,Hollywood,THEFT OF IDENTITY,28,M,H,NaN,Invest Cont,1900 TRANSIENT
3,231207725,2023-02-27,2020-01-27,0635,77th Street,THEFT OF IDENTITY,37,M,H,NaN,Invest Cont,6200 4TH AV
4,220213256,2022-07-14,2020-07-14,0900,Rampart,THEFT OF IDENTITY,79,M,B,NaN,Invest Cont,1200 W 7TH ST

Parsing Dates

In [ ]:
## Parsing dates

crimes['Date Rptd']= pd.to_datetime(crimes['Date Rptd'])
crimes['DATE OCC']= pd.to_datetime(crimes['DATE OCC'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185715 entries, 0 to 185714
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         185715 non-null  int64
 1   Date Rptd     185715 non-null  datetime64[ns]
 2   DATE OCC      185715 non-null  datetime64[ns]
 3   TIME OCC      185715 non-null  object
 4   AREA NAME     185715 non-null  object
 5   Crm Cd Desc   185715 non-null  object
 6   Vict Age      185715 non-null  int64
 7   Vict Sex      185704 non-null  object
 8   Vict Descent  185705 non-null  object
 9   Weapon Desc   73502 non-null   object
 10  Status Desc   185715 non-null  object
 11  LOCATION      185715 non-null  object
dtypes: datetime64[ns](2), int64(2), object(8)
memory usage: 17.0+ MB

Q1 Answer : Which hour has the highest frequency of crimes?

In [7]:
# Extract hour

crimes['HOUR'] = crimes['TIME OCC'].astype(int) // 100

## Q1 Answer : 

crimes['HOUR'].value_counts().sort_values(ascending=False).head(1)

peak_crime_hour = 12

Q2 Answer : Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)?

In [ ]:
# Time-Masks

time_mask = [10,11,0,1,2,3]

night_crimes = crimes[crimes['HOUR'].isin(time_mask)]

night_crimes['AREA NAME'].value_counts().sort_values(ascending=False).head(1)

peak_night_crime_location = 'Central'

AREA NAME
Central    3162
Name: count, dtype: int64

Q3 Answer : Identify the number of crimes committed against victims of different age groups ?

In [ ]:
# Create Age buckets

buckets = ["0-17", "18-25", "26-34", "35-44", "45-54", "55-64", "65+"]

conditions = [
    (crimes['Vict Age'] >= 0) & (crimes['Vict Age'] <= 17),
    (crimes['Vict Age'] >= 18) & (crimes['Vict Age'] <= 25),
    (crimes['Vict Age'] >= 26) & (crimes['Vict Age'] <= 34),
    (crimes['Vict Age'] >= 35) & (crimes['Vict Age'] <= 44),
    (crimes['Vict Age'] >= 45) & (crimes['Vict Age'] <= 54),
    (crimes['Vict Age'] >= 55) & (crimes['Vict Age'] <= 64),
    (crimes['Vict Age'] >= 65)
]

crimes['Age_Bucket'] = np.select(conditions, buckets, default='Unknown')

victim_ages= crimes['Age_Bucket'].value_counts()

Age_Bucket
26-34    47470
35-44    42157
45-54    28353
18-25    28291
55-64    20169
65+      14747
0-17      4528
Name: count, dtype: int64